*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  width: 100%;
  background-color: #FFF9F8;  
  font-family: 'Plus Jakarta Sans', sans-serif;
}

.container{
  max-width: 1200px;
  margin: auto;
  padding: 0;
}


/*navigation*/
.navbar{
  position: fixed;
  top: 16px;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 50;
  padding: 0;
}

.nav{
  width: 100%;
  max-width: 1300px;
  background: rgba(255,255,255,0.7);
  backdrop-filter: blur(14px);
  border: 1px solid rgba(255,255,255,0.6);
  box-shadow: 0 10px 30px rgba(0,0,0,0.05);
  border-radius: 45px;
  padding: 10px 26px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  pointer-events: auto;
}

.nav-left{
  display: flex;
  align-items: center;
  gap: 20px;
}

.logo-group{
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo{
  display: flex;
  align-items: center;
}

.logo img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid white;
  box-shadow: 0 3px 10px rgba(0,0,0,0.1);
  margin-left: -12px;
  transition: 0.3s;
}

.logo img:first-child{
  margin-left: 0;
}

.logo:hover{
  transform: scale(1.05);
}

.name{
  font-weight: 700;
  font-size: 24px;
  background: linear-gradient(to right, orange, crimson);
  -webkit-background-clip: text;
  color: transparent;
}

.nav-content{
  display: flex;
  align-items: center;
  gap: 30px;
  margin-left: auto;
  margin-right: 15px;
  font-weight: 600;
  color: #475569;
  font-size: 18px;  
}

.nav-content a{
  text-decoration: none;
  color: #475569;
  transition: 0.2s;
}

.nav-content a:hover{
  color: #475569;
}

.start-btn{
  background-color: crimson;
  color: rgb(242, 244, 243);
  border: none;
  padding: 10px 20px;
  border-radius: 30px;
  font-weight: 700;
  transition: 0.2s;
  font-size: 18px;
}

.start-btn:hover{
  background-color: crimson;
  color: white;
  transform: translateY(-2px);
  box-shadow: 0 10px 20px rgba(177,18,38,0.3);
}


/*hero*/
.hero{
  height: 650px;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 120px 0 80px;
  position: relative;
  margin-bottom: 100px;
}

.blob-first { 
  background: #ffedd5; 
  top: 80px; 
  right: 40px; 
}

.hero .container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px;
  align-items: center;
}

.hero-text h1{
  font-size: 105px;
  font-weight: 700;
  line-height: 0.9;
  margin: 20px 0;
}

.color-text{
  background: linear-gradient(to right, orange, crimson);
  -webkit-background-clip: text;
  color: transparent;
}

.hero-text p{
  font-size: 22px;
  color: #555;
  margin-bottom: 35px;
  max-width: 500px;
  line-height: 1.6;
}

.buttons{
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.first-btn{
  background: linear-gradient(to right, orange, crimson);
  color: white;
  border: none;
  padding: 18px 50px;
  border-radius: 50px;
  font-weight: bold;
  font-size: 18px;
  transition: 0.2s;
}

.first-btn:hover{
  background: linear-gradient(to right, orange, crimson);
  color: white;
  transform: translateY(-2px);
  box-shadow: 0 10px 20px rgba(177,18,38,0.3);
}

.second-btn{
  background: white;
  border: 1px solid #ddd;
  color: #333;
  padding: 18px 50px;
  border-radius: 50px;
  font-weight: bold;
  text-decoration: none;
  font-size: 18px;
  transition: 0.2s;
}

.second-btn:hover{
  background: #fff5f2;
  border-color: orange;
  transform: translateY(-2px);
  box-shadow: 0 10px 20px rgba(177,18,38,0.3);
}

.hero-image{
  position: relative;
}

.hero-image img{
  width: 100%;
  border-radius: 40px;
  border: 8px solid white;
  box-shadow: 0 25px 60px rgba(0,0,0,0.2);
}

.card1{
  position: absolute;
  bottom: -40px;
  left: -40px;
  background: white;
  padding: 20px 35px;
  border-radius: 20px;
  box-shadow: 0 10ox 20px (#0f172a);
}

.percent{
  color: crimson;
  font-weight: 900;
  font-size: 32px;
}

.label1{
  font-size: 12px;
  text-transform: uppercase;
  color: #777;
  font-weight: bold;
}


/*footer*/
.footer {
  width: 100%;
  background: #020617;
  color: #cbd5f5;
  padding: 60px 20px 40px;
  border-top: 1px solid rgba(255,255,255,0.05);
}

.footer-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 30px;
  margin-bottom: 60px;
}

.lab-logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.lab-logo img {
  width: 40px;
  height: 40px;
  border-radius: 10px;
}

.lab-logo span {
  font-weight: bold;
  font-size: 22px;
  color: white;
}

.footer-logo p {
  padding-top:2em;
  font-size: 14px;
  color: #94a3b8;
}

h4 {
  color: white;
  margin-bottom: 15px;
}

ul {
  list-style: none;
  padding: 0;
}

ul li {
  margin-bottom: 10px;
}

a, button {
  color: #cbd5f5;
  text-decoration: none;
  background: none;
  border: none;
  cursor: pointer;
}

a:hover, button:hover {
  color: crimson;
}

.map {
  width: 100%;
  height: 180px;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 15px;
}

.map iframe {
  width: 100%;
  height: 100%;
  border: none;
}

.contact li {
  font-size: 14px;
}

.footer-bottom {
  border-top: 1px solid rgba(255,255,255,0.05);
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}

.footer-bottom p {
  font-size: 12px;
  color: #64748b;
}

.credit {
  background: rgba(255,255,255,0.05);
  padding: 8px 12px;
  border-radius: 20px;
}

.credit span {
  font-size: 10px;
  color: #64748b;
  margin-right: 5px;
}

.credit strong {
  font-size: 10px;
  color: white;
}


/*about*/
.about{
  height: 600px;
  width: 100%;
  font-family: 'Inter', sans-serif;
  padding: 80px 24px;
  background: rgba(255,255,255,0.5);
  backdrop-filter: blur(8px);
  }

.about-content{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 64px;
  align-items: center;
}

.content-side{
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.heading{
  font-size: 40px;
  font-weight: 800;
  color: #0f172a;
  line-height: 1.2;
}

.highlight{
  color: crimson;
}

.description{
  font-size: 18px;
  color: #475569;
  line-height: 1.6;
}

.quote-card{
  padding: 24px;
  background: white;
  border-left: 4px solid crimson;
  border-radius: 0 16px 16px 0;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  font-style: italic;
  color: #334155;
}

.cards{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}

.card2{
  position: relative;
  height: 256px;
  border-radius: 32px;
  padding: 32px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow: hidden;
  transition: 0.3s;
}

.card2:hover{
  transform: translateY(-5px);
  border-color: orange;
  box-shadow: 0 20px 30px rgba(177,18,38,0.3);
}

.card-crimson{
  background: linear-gradient(135deg,crimson,orange);
}

.card-dark{
  background: #0f172a;
}

.card-overlay{
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.2);
  opacity: 0.3;
  transition: 0.7s;
}

.card2:hover .card-overlay{
  transform: scale(1.1);
}

.card-text{
  position: relative;
  z-index :10;
}

.card-title{
  font-size: 36px;
  font-weight: 900;
}

.card-subtitle{
  font-weight: 700;
  opacity: 0.8;
}


/*workflow*/
.workflow {
  width: 100%;
  height: 800px;
}

.flow{
  max-width: 1100px;
  margin: auto;
  text-align: center;
}

.header .label2 {
  color: crimson;
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 12px;
  margin-top: 80px;
}

.header h2 {
  font-size: 48px;
  margin: 10px 0;
}

.header h2 span {
  background: linear-gradient(135deg,orange,crimson);
  -webkit-background-clip: text;
  color: transparent;
}

.header p {
  color: #64748b;
  margin-bottom: 40px;
  font-size: 20px;
}

.tabs-container {
  margin: 40px 0;
  display: flex;
  justify-content: center;
}

.tabs {
  position: relative;
  display: flex;
  background: #f1f1f1;
  border-radius: 50px;
  padding: 5px;
  gap: 5px;
}

.tab {
  padding: 15px 50px;
  border: none;
  background: transparent;
  cursor: pointer;
  border-radius: 50px;
  font-weight: bold;
  color: #666;
  z-index: 2;
}

.tab.active {
  color: white;
}

.indicator {
  position: absolute;
  top: 5px;
  left: 5px;
  height: calc(100% - 10px);
  width: 200px;
  background: crimson;
  border-radius: 50px;
  transition: all 0.3s ease;
  z-index: 1;
}

.tab-contents {
  margin-top: 40px;
}

.tab-content {
  display: none;
}

.tab-content.active {
  display: block;
}

.timeline {
  position: relative;
  margin-top: 140px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.line {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 8px;
  border-radius: 20px;
  background: linear-gradient(to right, #fed7aa, #f3d39b, #fed7aa);
  transform: translateY(-50%);
  opacity: 0.45;
}

.step {
  width: 220px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.step.up {
  transform: translateY(-130px);
}

.step.down {
  transform: translateY(110px);
}

.card3 {
  background: white;
  padding: 50px 56px;
  border-radius: 34px;
  box-shadow: 0 2px 2px rgba(237, 195, 160, 0.914);
  text-align: center;
  transition: 0.3s ease;
}

.card3 h3 {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 10px;
  color: #0f172a;
}

.card3 p {
  font-size: 13px;
  color: #64748b;
}

.card3:hover {
  transform:translateY(-10px);
  box-shadow:0 10px 20px rgba(78, 76, 77, 0.3);
}

.card4 {
  background:white;
  padding: 40px 48px;
  border-radius: 34px;
  box-shadow: 0 2px 2px rgba(177,18,38,0.3);
  text-align: center;
  transition: 0.3s ease;
}

.card4 h3 {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 10px;
  color: #0f172a;
}

.card4 p {
  font-size: 13px;
  color: #64748b;
}

.card4:hover {
  transform:translateY(-10px);
  box-shadow:0 10px 20px rgba(78, 76, 77, 0.3);
}

.dot1 {
  width: 16px;
  height: 11px;
  background: white;
  border: 4px solid rgb(255, 140, 0);
  border-radius: 50%;
  margin: 15px 0 0 0;
  z-index: 2;
}

.dot2 {
  width: 16px;
  height: 11px;
  background: white;
  border: 4px solid rgb(255, 140, 0);
  border-radius: 50%;
  margin: 0 0 22px 0;
  z-index: 2;
}


/*why*/
.why {
  padding: 120px 60px;
  position: relative;
  overflow: hidden;
}

.bg-blobs div {
  position: absolute;
  width: 260px;
  height: 260px;
  border-radius: 50%;
  filter: blur(90px);
  opacity: 0.7;
}

.blob-second { 
  background: #ffedd5; 
  top: 80px; left: 
  40px; 
}

.blob-third { 
  background: #fee2e2; 
  top: 80px; 
  right: 40px;
}

.blob-fourth { 
  background: #fce7f3; 
  bottom: -120px; left: 50%; 
  transform: translateX(-50%); 
}

.header2 {
  text-align: center;
  margin-bottom: 100px;
}

.label3 {
  color: crimson;
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 12px;
  text-transform: uppercase;
  display: block;
  margin-bottom: 8px;
}

.header2 h2 {
  font-size: 48px;
  margin-bottom: 20px;
}

.gradient {
  background: linear-gradient(to right, orange, crimson);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.header2 p {
  color: #64748b;
  font-size: 18px;
  max-width: 760px;
  margin: auto;
}

.cards1 {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 24px;
}

.col {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.card {
  background: white;
  padding: 32px;
  border-radius: 32px;
  border: 1px solid #f1f5f9;
  box-shadow: 0 25px 60px rgba(15,23,42,0.08);
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease;
}

.card:hover {
  transform: translateY(-10px);
}

.short { 
  height: 230px; 
}

.long { 
  height: 330px; 
}

.tall { 
  height: 580px; 
}

.corner {
  position: absolute;
  top: -30px;
  right: -30px;
  width: 140px;
  height: 140px;
  border-bottom-left-radius: 100%;
  opacity: 0.5;
}

  .blue .corner { background: linear-gradient(to bottom right, #dbeafe, #bfdbfe); }
  .orange .corner { background: linear-gradient(to bottom right, #ffedd5, #fed7aa); }
  .purple .corner { background: linear-gradient(to bottom right, #ede9fe, #ddd6fe); }
  .red .corner { background: linear-gradient(to bottom right, #fee2e2, #fecaca); }
  .green .corner { background: linear-gradient(to bottom right, #d1fae5, #a7f3d0); }

.card h3 {
  font-size: 20px;
  font-weight: 700;
  color: #0f172a;
  margin-bottom: 14px;
  position: relative;
}

.card p {
  font-size: 15px;
  color: #64748b;
  line-height: 1.6;
}


/*install*/
.install{
  padding: 120px 60px;
  background: linear-gradient(to bottom,#f8fafc,#ffffff);
  position: relative;
  overflow: hidden;
  border-top: 1px solid #f1f5f9;
}

.bg-decor div{
  position: absolute;
  width: 380px;
  height: 380px;
  border-radius: 50%;
  filter: blur(100px);
  opacity: .5;
}

.blob-left{
  background: #fed7aa;
  top: 25%;
  left: -120px;
}

.install-grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 100px;
  align-items: center;
}

.label2{
  color: crimson;
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 12px;
  text-transform: uppercase;
  display: block;
  margin-bottom: 10px;
}

.left h2{
  font-size: 48px;
  font-weight: 800;
  margin-bottom: 20px;
  color: #0f172a;
}

.gradient{
  background: linear-gradient(to right,orange,crimson);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.lead{
  font-size: 18px;
  color: #64748b;
  line-height: 1.8;
  margin-bottom: 40px;
}

.features{
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.feature{
  display: flex;
  gap: 18px;
  padding: 20px;
  border-radius: 24px;
  transition: .3s;
  border: 1px solid transparent;
}

.feature:hover{
  background: white;
  box-shadow: 0 15px 40px rgba(0,0,0,.06);
}

.feature h4{
  font-size: 18px;
  font-weight: 700;
  color: #0f172a;
  margin-bottom: 6px;
}

.feature p{
  font-size: 14px;
  color: #64748b;
}

.right{
  position: relative;
}

.install-card{
  position: relative;
  z-index: 2;
  background: rgba(255,255,255,.85);
  backdrop-filter: blur(18px);
  border-radius: 40px;
  box-shadow: 0 40px 80px rgba(0,0,0,.12);
  border: 1px solid rgba(255,255,255,.6);
  text-align: center;
}

.install-card h3{
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 8px;
  margin-top: 50px;
  color: #0f172a;
}

.install-card p{
  font-size: 14px;
  color: #64748b;
  margin-bottom: 30px;
}

.devices{
  display: flex;
  justify-content: space-evenly;
  gap: 1px;
}

.device{
  padding: 30px 20px;
  border-radius: 20px;
  border: 2px solid #f1f5f9;
  background: white;
  font-weight: 700;
  font-size: 14px;
  color: #475569;
  transition: .3s;
}

.device:hover{
  border-color: #fed7aa;
  background: #fff7ed;
}

.install-btn{
  width: 500px;
  margin: 30px 0 30px 0;
  padding: 20px 60px;
  border-radius: 14px;
  border: none;
  background: #e2e8f0;
  color: #94a3b8;
  font-weight:  700;
  font-size:  18px;
  cursor: not-allowed;
}

.div{
  display: flex;
  grid-template-columns: 1fr 1fr;
  gap: 5px;
}

.cell{
  background-color: rgb(252, 216, 148);
  border-radius: 30%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.phone{
  border-radius: 30%;
  width: 20px;
  height: 28px;
  padding-bottom: 2px ;
  border: 3px solid orange;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.click{
  width: 0;
  height: 0;
  border: 2px solid orange;
  border-radius: 50%;
}


/*login*/
.open-btn {
  margin: 40px;
  padding: 12px 20px;
  font-weight: bold;
  cursor: pointer;
}

.modal {
  position: fixed;
  inset: 0;
  display: none;
  justify-content: center;
  align-items: center;
  padding: 20px;
  z-index: 100;
}

.modal.active {
  display: flex;
}

.modal-overlay {
  position: absolute;
  inset: 0;
  background: rgba(15, 23, 42, 0.6);
  backdrop-filter: blur(6px);
}

.modal-box {
  position: relative;
  width: 100%;
  max-width: 420px;
  background: white;
  border-radius: 20px;
  padding: 40px;
  border: 1px solid #e2e8f0;
  box-shadow: 0 20px 25px rgba(0,0,0,0.1);
  z-index: 1;
}

.close-btn {
  position: absolute;
  top: 16px;
  right: 16px;
  border: none;
  background: white;
  color: #64748b;
  font-size: 18px;
  cursor: pointer;
}

.icon-wrap {
  height: 48px;
  width: 48px;
  background: #fff7ed;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.icon-wrap svg {
  height: 24px;
  width: 24px;
  stroke: #ea580c;
  fill: none;
  stroke-width: 1.5;
}

.text-center {
  text-align: center;
  margin-top: 12px;
}

.text-center h3 {
  margin: 0;
  font-size: 20px;
  font-weight: bold;
  color: #0f172a;
}

.text-center p {
  font-size: 14px;
  color: #64748b;
}

.form {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.form input{
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #cbd5e1;
}

.form label{
  font-weight: 600;
  font-size: 14px;
}

.verify-btn{
  background: #b91c1c;
  color: white;
  padding: 12px;
  border-radius: 8px;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

.verify-btn:hover {
  background: #991b1b;
}

.status {
  margin-top: 20px;
  font-size: 11px;
  text-align: center;
  padding: 8px;
  background: #f8fafc;
  border: 1px solid #e2e8f0;
  border-radius: 6px;
  color: #94a3b8;
}

.password-field {
  position: relative;
  width: 100%;
}

.password-field input {
  width: 100%;
  padding-right: 40px;
}

.eye {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 18px;
  user-select: none;
}

.error {
  color: rgb(255, 0, 0);
  font-size: 13px;
}

.hidden {
  display: none;
}

.switch-account{
  margin-top: 10px;
  font-size: 12px;
  text-align: center;
  color: #94a3b8;
  text-decoration: none;
  transition: color .2s ease;
  display: block;
}

.switch-account:hover{
  color: #b91c1c;
}

